In [4]:
import pandas as pd
movie_info = pd.read_csv('Movie Interests.csv')

movie_info

movie_info

In [6]:
input_dataset = movie_info.drop(columns=['Interest'])
input_dataset

    Age  Gender
0     8       1
1    11       1
2    12       1
3    16       1
4    18       1
5    19       1
6    23       1
7    26       1
8    27       1
9     7       0
10    9       0
11   10       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [8]:
output_dataset = movie_info['Interest']
output_dataset

0     Animation
1     Animation
2     Animation
3        Action
4        Action
5        Action
6         Drama
7         Drama
8         Drama
9     Animation
10    Animation
11    Animation
12       Action
13       Action
14       Action
15        Drama
16        Drama
17        Drama
Name: Interest, dtype: object

In [10]:
from sklearn.tree import DecisionTreeClassifier
movie_model = DecisionTreeClassifier()
movie_model.fit(input_dataset,output_dataset)
movie_interest=movie_model.predict([[9,1],[33,0]])

C:\Users\Student\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [11]:
movie_interest

array(['Animation', 'Drama'], dtype=object)